body {
  font-family: Arial;
}

h1{
  font-size: 1.7em;
}

h2{
  font-size: 1.2em;
}

#kopf_links {
  float: left;
  margin: 5px;
  margin-right: 20px;
}

#kopf_rechts {
  height:130px;
}

.error {
  color: darkred;
  font-weight: bolder;
}
/*
table#artikel {
        width: 95%;
        background-color: lightgrey;
        margin-left:30px;
        border-spacing: 23px;
        border: inset 1px;
}

table#artikel th {
        color: white;
        background-color: black;
        font-size:120%;
}

table#artikel td {
        font-variant: small-caps;
        border: inset 1px;
}

td.spalte1 {
        background-color: lightblue;
}
*/
p#fussnote {
  font-size: 0.7em;
}

table.artikel {
  border-collapse: collapse;
}

th, td {
  /* border: 1px solid grey; */
  padding: 3px;
  padding-left: 8px;
}

th {
  text-align: left;
  background-color: #CCC;
}

tr.ungerade {
  background-color: #EEE;
}

tr.gerade {
  background-color: #FFF;
}

td.bild img {
  height: 100px;
  width: 100px;
}

td.nr {
  background-color: lightblue;
}
